@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a lista de contatos da MG Contecnica </h1>
    <p>Navegue na área "Cliente" para interagir com a nossa lista de contato!</p>
</div>
